@model Introducao.Models.Pessoa

@{
    ViewBag.Title = "Index";
}

<h2> Curso de ASP MVC 5 </h2>
<p> Curso feito para Gustavo Tenório.</p>

<br />

<p> View Tipada </p>

@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Informações de Pessoas</legend>
    </fieldset>

    <div>
        <b>@Html.LabelFor(x => x.PessoaId) </b>
    </div>
    <div>
        @Html.EditorFor(x => x.PessoaId)
    </div>

    <div>
        <b>@Html.LabelFor(x => x.Nome) </b>
    </div>
    <div>
        @Html.EditorFor(x => x.Nome)
    </div>

    <div>
        <b>@Html.LabelFor(x => x.Tipo) </b>
    </div>
    <div>
        @Html.EditorFor(x => x.Tipo)
    </div>

    <input type="submit" value="Enviar" />
}

<br />

<p> View Tipada Simples </p>
<p> @Model.PessoaId</p>
<p> @Model.Nome</p>
<p> @Model.Tipo</p>